 <main class="container">
  <div  class="bg-light p-5 rounded mt-3",>
    <h2 class="pb-2 border-bottom:padding-bottom:8px">Jobs Post</h2>   
    <p>
      <div class="col-9">
     <h4
       style='color:red';margin-bottom:4px>{{job['title']}}</h4> 
      <div style="margin-bottom:16px">Location:{{job['location']}}</div>
   
    <div style="margin-bottom:16px">Salary:{{job['Salary']}}
    </div>
      </div>
    <div class="col-3">
      
    </div>
      
    </p>
    <a class="btn btn-lg btn-primary" href="/docs/5.0/components/navbar/" role="button">apply now &raquo;</a>
  </div>
</main>
