<header class="p-3 mb-3 border-bottom">
    <div class="container-shadow-sm fixed-top-shadow-sm fixed-top bg-white">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <a class="navbar-brand-SHO" href="#">
      <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="160px" height="160px">
    </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-dark">Home</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Jobs Post</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Resume</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Blog</a></li>
           <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
           <li><a href="#" class="nav-link px-2 link-dark">Privacy Policy</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
        <div>
          <a href="#" class="btn btn-dark" tabindex="-1" 
            role="button" aria-disabled="true">Login</a>
      
       <a href="signup.html" class="btn btn-dark" tabindex="-1" 
        role="button" aria-disabled="true">Register</a>
          </div>               
      </div>
    </div>